In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import sys

In [4]:
%matplotlib inline

In [5]:
print 'Python Version '+sys.version
print 'Pandas Version '+pd.__version__

Python Version 2.7.10 |Anaconda 2.2.0 (x86_64)| (default, May 28 2015, 17:04:42)
[GCC 4.2.1 (Apple Inc. build 5577)]
Pandas Version 0.16.2

In [6]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [7]:
zip?

In [8]:
BabyDataSet = zip(names,births)
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [9]:
df = pd.DataFrame(data=BabyDataSet,columns=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [10]:
df.to_csv('births1880.csv',index=False,header=False)

In [11]:
Location = r'births1880.csv'
df = pd.read_csv(Location)

In [12]:
df

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [13]:
df = pd.read_csv(Location,header=None)

In [14]:
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973

In [15]:
df = pd.read_csv(Location,names=['Names','Births'])

In [16]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [17]:
import os
os.remove(Location)

In [18]:
df.dtypes

Names     object
Births     int64
dtype: object

In [19]:
df.Births.dtype

dtype('int64')

In [22]:
Sorted = df.sort(['Births'],ascending=False)
Sorted

     Names  Births
4      Mel     973
0      Bob     968
3     John     578
1  Jessica     155
2     Mary      77

In [23]:
df['Births'].max()

973

In [25]:
df.Births.plot()
MaxValue = df.Births.max()
MaxName = df.Names[df['Births']==df.Births.max()].values
Text = str(MaxValue)+'-'+MaxName
plt.annotate(Text,xy=(1,MaxValue),xytext=(8,0),
            xycoords=('axes fraction','data'),
            textcoords='off set points')
print 'The most popular name'
df[df['Births'] == df['Births'].max()]

The most popular name

  Names  Births
4   Mel     973

ValueError: off set points is not a recognized coordinate