In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

%matplotlib inline

In [2]:
names = ['Bob','Jessica','Mary','John','Mel']

In [3]:
np.random.seed(500)
random_names = [names[np.random.randint(low=0,high=len(names))] for i in range(1000)]
random_names[:10]

['Mary',
 'Jessica',
 'Jessica',
 'Bob',
 'Jessica',
 'Jessica',
 'Jessica',
 'Mary',
 'Mary',
 'Mary']

In [4]:
births = [np.random.randint(low=0,high=1000) for i in range(1000)]
births[:10]

[968, 155, 77, 578, 973, 124, 155, 403, 199, 191]

In [5]:
BabyDataSet = zip(random_names,births)
BabyDataSet[:10]

[('Mary', 968),
 ('Jessica', 155),
 ('Jessica', 77),
 ('Bob', 578),
 ('Jessica', 973),
 ('Jessica', 124),
 ('Jessica', 155),
 ('Mary', 403),
 ('Mary', 199),
 ('Mary', 191)]

In [7]:
df = pd.DataFrame(data=BabyDataSet,columns=['Names','Births'])
df.head(10)

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973
5  Jessica     124
6  Jessica     155
7     Mary     403
8     Mary     199
9     Mary     191

In [8]:
df.to_csv('births1880.txt',index=False,header=False)

In [9]:
Location = r'births1880.txt'
df=pd.read_csv(Location)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 998
Data columns (total 2 columns):
Mary    999 non-null object
968     999 non-null int64
dtypes: int64(1), object(1)
memory usage: 23.4+ KB

In [11]:
df.head()

      Mary  968
0  Jessica  155
1  Jessica   77
2      Bob  578
3  Jessica  973
4  Jessica  124

In [12]:
df = pd.read_csv(Location,header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 2 columns):
0    1000 non-null object
1    1000 non-null int64
dtypes: int64(1), object(1)
memory usage: 23.4+ KB

In [13]:
df.tail()

           0    1
995     John  151
996  Jessica  511
997     John  756
998  Jessica  294
999     John  152

In [14]:
df = pd.read_csv(Location,names=['Names','Births'])
df.head(5)

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973

In [15]:
import os
os.remove('births1880.txt')

In [16]:
df['Names'].unique()

array(['Mary', 'Jessica', 'Bob', 'John', 'Mel'], dtype=object)

In [18]:
for x in df.Names.unique():
    print x

Mary
Jessica
Bob
John
Mel

In [19]:
print df.Names.describe()

count     1000
unique       5
top        Bob
freq       206
Name: Names, dtype: object

In [20]:
name = df.groupby('Names')
df = name.sum()
df

         Births
Names
Bob      106817
Jessica   97826
John      90705
Mary      99438
Mel      102319

In [21]:
Sorted = df.sort(['Births'],ascending=False)
Sorted.head(1)

       Births
Names
Bob    106817